<h1> Welcome to Habitat.co.uk </h1>
<% if current_user %>
	<%= link_to "My Habitat", user_path(current_user.id) %>
<% else %>
	<%= link_to "My Habitat", signin_path %>
<% end %>

<%= new_project_links %>