<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Emma</h1>
    <p>
      Please follow the link below to create your very own My Habitat account, and track the progress of your enquiry.

      A My Habitat account will also allow you stay in touch with us specifically regarding your project, and also follow the entire process from start to finish, should you end up having us undertake your project.


			<br><br>
			The Habitat Team
    </p>
  </body>
</html>