$banners: #4A4A4A;
$banner-text: white;
$text-hover: #9AC66A;
$notice-green: #9AC66A;
$white: white;

$bar-borders: solid 1px $white;

$appgreen: #9AC66A;

$main-font: LiSong, "LiSong Pro";
$second-font: verdana, arial, helvetica, sans-serif;
